[Unit]
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User=kafka
ExecStart=/home/asimov/Services/kafka/bin/zookeeper-server-start.sh /home/asimov/Services/kafka/config/zookeeper.properties
ExecStop=/home/asimov/Services/kafka/bin/zookeeper-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
